# This service file is used for running the server.js once the backend instance has been started
# to check the log for this file run "journalctl -u server.service"

[Unit]
Description=Server service for HP capstone project
After=network.target


[Service]
ExecStart=cargo build && sudo ./target/debug/backend
WorkingDirectory=/home/admin/src
Type=simple
Restart=always


[Install]
WantedBy=default.target
RequiredBy=network.target